.git
.github
node_modules
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
tests
vendor
.editorconfig
.env
.gitattributes
.gitignore
.npmrc
.phpunit.result.cache
phpstan.neon
phpunit.xml
README.md
rector.php
